:root {
    --grey: #F2F2F2;
    --chaki: #274001;
    --moss: #467302;
    --green: #72A603;
    --brgreen: #C0D904;
    --white: #FFF;
    --black: #000;
    --title: 'Barlow Condensed', sans-serif;
    --text: 'Montserrat Alternates', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--grey);
}

/* -----------navigation style ------------------*/

nav {
    margin: 0 auto;
    font-family: var(--title);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight:500;
    font-size: 1.2em;
    max-width: 1200px;
}

.nav-ul {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin: 0;
    padding:0 1em;
    flex-flow: row wrap;

}

.nav-li {
    list-style-type: none;
    color: var(--black);
    display: flex;
    padding: 0.5em;
    align-items: center;
    margin: 0.5em;
}

.nav-li a {
    text-decoration: none;
    color: var(--black);
}

.nav-li:first-child {
    margin-right: auto;
    font-weight: bold;
    font-size: 1.5em;
    font-family: var(--text);
}

.nav-ul .icon{
    font-size: 1.2em;
    color: var(--brgreen);
}

.dropdown-parent-el {
    position: relative;
}

.dropdown-ul {
    display: none;
    position: absolute;
    bottom: -4.5em;
    right: 0; 
    background-color: var(--grey);
    box-shadow: -1px 2px 5px var(--chaki);
    list-style-type: none;
    margin: 0;
    padding: 0.5em;
    font-size: smaller;
    gap: 0.5em;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.dropdown-ul .icon{
    color: black;
    font-size: smaller;
    padding-left: 0.7em;
}
.menu-icon, .mobile{
    display:none;
}

/* nav :hover styles */
.nav-li:hover {
    box-shadow: -1px 2px 5px var(--chaki);
}

.nav-li:last-child:hover, .nav-li:first-child:hover {
    box-shadow: none;
}

.dropdown-parent-el:hover .dropdown-ul {
    display: flex;
}

.dropdown-parent-el:hover .icon{
    color: var(--chaki)
}

.nav-more-li:hover .icon, .nav-more-li:hover a{
    color: var(--moss);
}
.text-for-icon {
    display: none;
}

@media (max-width: 860px) {

    .nav-li:first-child {
        flex-basis: 100%;
        justify-content: center;
        font-weight: bold;
        font-size: 1em;
        font-family: var(--text);
        margin: 0.2em auto;
        padding-bottom: 0;
    }
    .nav-li {
        padding: 0.2em;
    }
    .nav-ul {
        justify-content: space-evenly;
    }
    .dropdown-ul {
        bottom: -5.2em;
    }
}

@media (max-width: 715px) {

    .nav-ul {
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }
    .nav-li{
        margin: 1em;
        font-size: 0.8em;
    }
    .text-for-icon {
        display: block;
    }
    .dropdown-ul {
        bottom: -5.5em;
    }
}

@media (max-width: 600px) {
    .nav-ul{
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }
    .nav-li{
        display:none;
        padding: 0.2em;
        margin: 0;
    } 
    
    .menu-icon {
        display: inline;
        align-self: stretch;
        margin: 0.2em;
    }
    .nav-li:first-child {
        display: flex;
        flex-basis: 100%;
        margin: 0;
    }
    /* responsive */
    .responsive{
        display: flex;       
        flex-direction: column;
        align-items: flex-start;
    } 

    .responsive .nav-li:first-child {
        margin: 0 auto;
    }

    .responsive .nav-li {
        box-shadow: none;
    }
}
/* -----------END OF navigation style ------------------*/
