:root {
    --grey: #F2F2F2;
    --chaki: #274001;
    --moss: #467302;
    --green: #72A603;
    --brgreen: #C0D904;
    --white: #FFF;
    --black: #000;
    --title: 'Barlow Condensed', sans-serif;
    --text: 'Montserrat Alternates', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--grey);
    font-family: var(--text);
    color: var(--chaki);

}

h1{
    font-family: var(--text);
}

h2{
    font-family: var(--title);
    font-weight: 300;
    font-size: 1.3em;
    padding-top: 0.5em;
}

.decoration-line {
    height: 3px;
    width: 10%;
    background-color: var(--green);
    border-radius: 5px;
}

/* -----------navigation style ------------------*/

nav {
    margin: 0 auto;
    font-family: var(--title);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight:500;
    font-size: 1.2em;
    max-width: 1200px;
}

.nav-ul {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin: 0;
    padding:0 1em;
    flex-flow: row wrap;

}

.nav-li {
    list-style-type: none;
    color: var(--black);
    display: flex;
    padding: 0.5em;
    align-items: center;
    margin: 0.5em;
}

.nav-li a {
    text-decoration: none;
    color: var(--black);
}

.nav-li:first-child {
    margin-right: auto;
    font-weight: bold;
    font-size: 1.5em;
    font-family: var(--text);
}

.nav-ul .icon{
    font-size: 1.2em;
    color: var(--brgreen);
}

.dropdown-parent-el {
    position: relative;
}

.dropdown-ul {
    display: none;
    position: absolute;
    bottom: -4.5em;
    right: 0; 
    background-color: var(--grey);
    box-shadow: -1px 2px 5px var(--chaki);
    border-radius: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0.5em;
    font-size: smaller;
    gap: 0.5em;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.dropdown-ul .icon{
    color: black;
    font-size: smaller;
    padding-left: 0.7em;
}
.menu-icon, .mobile{
    display:none;
}

/* nav :hover styles */
.nav-li:hover {
    box-shadow: -1px 2px 5px var(--chaki);
    border-radius: 10px;
}

.nav-li:last-child:hover, .nav-li:first-child:hover {
    box-shadow: none;
}

.dropdown-parent-el:hover .dropdown-ul {
    display: flex;
}

.dropdown-parent-el:hover .icon{
    color: var(--chaki)
}

.nav-more-li:hover .icon, .nav-more-li:hover a{
    color: var(--moss);
}
.text-for-icon {
    display: none;
}

@media (max-width: 860px) {

    .nav-li:first-child {
        flex-basis: 100%;
        justify-content: center;
        font-weight: bold;
        font-size: 1em;
        font-family: var(--text);
        margin: 0.2em auto;
        padding-bottom: 0;
    }
    .nav-li {
        padding: 0.2em;
    }
    .nav-ul {
        justify-content: space-evenly;
    }
    .dropdown-ul {
        bottom: -5.2em;
    }
}

@media (max-width: 715px) {

    .nav-ul {
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }
    .nav-li{
        margin: 1em;
        font-size: 0.8em;
    }
    .text-for-icon {
        display: block;
    }
    .dropdown-ul {
        bottom: -5.5em;
    }
}

@media (max-width: 600px) {
    .nav-ul{
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }
    .nav-li{
        display:none;
        padding: 0.2em;
        margin: 0;
    } 
    
    .menu-icon {
        display: inline;
        align-self: stretch;
        margin: 0.2em;
    }
    .nav-li:first-child {
        display: flex;
        flex-basis: 100%;
        margin: 0;
    }
    /* responsive */
    .responsive{
        display: flex;       
        flex-direction: column;
        align-items: flex-start;
    } 

    .responsive .nav-li:first-child {
        margin: 0 auto;
    }

    .responsive .nav-li {
        box-shadow: none;
    }
}
/* -----------END OF navigation style ------------------*/

/* ------------INTRODUCTION SECTION ------------------- */

.introduction{
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.introduction img {
    margin-top: 1em;
    grid-column: 5/11;
    grid-row: 1/9;
    width: 100%;
    height: 400px;
    object-fit: cover;
    box-shadow: -1px 3px 10px var(--black);
    border-radius: 10px;
}

.introduction .text-section {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 2em;
    padding: 2em;
    grid-column: 1/8;
    grid-row: 2/11;
    z-index: 1;
    box-shadow: -1px 2px 5px var(--moss);
    border-radius: 10px;
}

.introduction .text-section li {
    margin-left:-1.2em;
    padding: 0.5em;
    line-height: 1.3em;
    list-style: none;
}

.introduction h1{
    margin: 0.2em;
    font-weight: 500;
    font-size: 2em;
    text-transform: uppercase;
}

.introduction .text-highlight{
    font-size: 1.5em;
    color: var(--green);
    padding: 0.5em;
}

@media (max-width: 715px) {
    .introduction{
        grid-template-rows: repeat(7, 1fr);
    }
    .introduction img {
        height: 200px;
        grid-column: 1/10;
        grid-row: 1/5;
    }
    .introduction .text-section {
        margin: 2em 0;
        grid-column: 2/11;
        grid-row: 2/8;
        padding: 1em;
    }
    .introduction .text-section li {
        margin-left:-1.2em;
        padding: 0.2em;
        line-height: 1em;
        list-style: none;
    }
    .introduction .text-highlight{
        font-size: 1em;
        color: var(--green);
        padding: 0;
    }
    .introduction h1{
        font-size: 1.5em;
        margin-bottom: -1em;
    }
}

/* _________________-INTRODUCTION END ------------ */

/* _________________Login-prompt ------------ */

.login-prompt {
    background-color: #274001;
    color: var(--grey);
    padding: 2em;
    text-align: center;
    font-size: 1.2em;
}

.login-prompt p{
    margin-top: 0;
}

.button h2{
    padding: 0;
    margin: 0;
    font-weight: inherit;
}

.button {
    border-radius: 15px;
    padding: 0.5em 2.5em;
    font-family: var(--title);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2em;
    border: none;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.85);
}

/* _________________Login-prompt END ------------ */
/* _________________CONTACT ME ------------ */

.contact-me{
    padding: 1em;
    max-width: 800px;
    margin: 1em auto;
}

.contact-me p{
    margin: 0;
    padding: 0;
    text-align: center;
}
.contact-me form{
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
    gap: 1em;
    border-radius: 10px;
    box-shadow: -1px 2px 5px var(--moss);
    margin-top: 1em;
}
.contact-me form label {
    flex-basis: 20%;
    text-align: right;
}
.contact-me form input, .contact-me form textarea {
    flex-basis: 70%;
    background-color: var(--grey);
    border: none;
    box-shadow: 1px 0px 2px rgba(39, 64, 1, 0.5);
    font-family: var(--text);
    padding: 0.5em;
}

.contact-me .button:hover{
    box-shadow: 1px 0px 3px rgba(39, 64, 1, 0.5);

}


/* _________________END CONTACT ME ------------ */


/* _________________FOOTER ------------ */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
    padding: 1em;
    color: black;
}

/* _________________FOOTER  end------------ */

