{% extends "base.html" %}
{% block navcalendar %} active {% endblock %}

{% block content%}

<section class="calendar-page page-outer-container">
    <h1 class="title-for-calendar-page wide-purple-bk page-title-text">Savaitės planas</h1>
    <div class="recipes-representation-outer-container">
        <ul class="recipes-representation-bar multiple-recipe-cards"></ul>
    </div>
    <div class="calendar-inner-container page-inner-container">
        

        <div class="filters">
            {% for foodtype in foodtypeNames %}
            <button class="filter-item simple-text-small recipetype-btn" name="{{foodtype}}" type="button">{{foodtype}}</button>
            {% endfor %}
            <button class="favorites-btn filter-item simple-text-small"><i class="fa-solid fa-heart"></i></button> 
            <button class="filter-item simple-text-small courstype-btn" name="Garnyras" type="button">Garnyras</button>    
            <div class="search-filter-calendar-container filter-item">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" class="recipe-search-input-calendar" name="recipe-search-input" placeholder="Ieškoti recepto" />
            </div>
        </div>

        <div class="all-table">

            
            <div class="first-column">
                <div class="calendar-first-row-cell">
                    <button class="previous-day-btn", type="button">&lt;</button>
                    <button class="next-day-btn", type="button">&gt;</button>
                </div> 

                {% for coursetype in CoursetypeNames %}
                <button class="bold-uppercase-small courstype-btn" name="{{coursetype}}" type="button">{{coursetype}}</button>
                {% endfor %}
            </div>

            <div class="calendar-table">
            
                <div class="no-wrapped calendar-column week-day">
                    <div class="calendar-first-row-cell">
                        Pirmadienis</div> 
                    <ul class="week-day-ul" name="Monday">
                        {% for coursetype in CoursetypeNames %}
                            <li class="calendar-cell" name="{{coursetype}}">
                                <button class="add-item-to-calendar" type="button">+</button>
                            </li>
                        {% endfor %}

                    </ul>
                </div>

                <div class="no-wrapped calendar-column week-day">
                    <div class="calendar-first-row-cell">Antradienis</div> 
                    <ul class=" week-day-ul" name="Tuesday">
                        {% for coursetype in CoursetypeNames %}
                            <li class="calendar-cell" name="{{coursetype}}">
                                <button class="add-item-to-calendar" type="button">+</button>
                            </li>
                        {% endfor %}

                    </ul>
                </div>

                <div class="no-wrapped calendar-column week-day">
                    <div class="calendar-first-row-cell">Trečiadienis</div> 
                    <ul class=" week-day-ul" name="Wednesday">
                        {% for coursetype in CoursetypeNames %}
                            <li class="calendar-cell" name="{{coursetype}}">                                
                                <button class="add-item-to-calendar" type="button">+</button>
                            </li>
                        {% endfor %}

                    </ul>
                </div>

                <div class="no-wrapped calendar-column week-day">
                    <div class="calendar-first-row-cell">Ketvirtadienis</div> 
                    <ul class=" week-day-ul" name="Thursday">
                        {% for coursetype in CoursetypeNames %}
                            <li class="calendar-cell" name="{{coursetype}}">
                                <button class="add-item-to-calendar" type="button">+</button>
                            </li>
                        {% endfor %}

                    </ul>
                </div>

                <div class="no-wrapped calendar-column week-day">
                    <div class="calendar-first-row-cell">Penktadienis</div> 
                    <ul class=" week-day-ul" name="Friday">
                        {% for coursetype in CoursetypeNames %}
                            <li class="calendar-cell" name="{{coursetype}}">
                                <button class="add-item-to-calendar" type="button">+</button>
                            </li>
                        {% endfor %}

                    </ul>
                </div>

                <div class="no-wrapped calendar-column week-day">
                    <div class="calendar-first-row-cell">Šeštadienis</div> 
                    <ul class=" week-day-ul" name="Saturday">
                        {% for coursetype in CoursetypeNames %}
                            <li class="calendar-cell" name="{{coursetype}}">
                                <button class="add-item-to-calendar" type="button">+</button>
                            </li>
                        {% endfor %}

                    </ul>
                </div>

                <div class="no-wrapped calendar-column week-day">
                    <div class="calendar-first-row-cell">Sekmadienis</div> 
                    <ul class=" week-day-ul" name="Sunday">
                        {% for coursetype in CoursetypeNames %}
                            <li class="calendar-cell" name="{{coursetype}}">
                                <button class="add-item-to-calendar" type="button">+</button>
                            </li>
                        {% endfor %}

                    </ul>
                </div>

            </div>
        </div>

        
    </div>

    <div class="save-calendar-container wide-purple-bk">
        <div class="calendar-name-label-and-input">
            <label for="calendar-name" class="text-unimportant-title">Savaitės plano pavadinimas</label>
            <input type="text" name="calendar-name" id="calendar-name">
        </div>
        <button class="button save-calendar" type="button" disabled>Išsaugoti planą</button>
        <button class='button-thin cleanCurrentCalendar' type="button">Išvalyti planą</button>
    </div>

    

    <div class="my-previous-calendars-container">
        <h3 class="bold-uppercase-normal">Mano planai</h3>
        <ul class="my-calendars-list">

        {% for calendarItem in myCalendars %}
            <li class="saved-calendar-item" name="calendarID={{calendarItem.id}}">
                <p class="text-unimportant-title">{{ calendarItem.calendarName }}</p>
                <button class='saved-calendar-button deleteCalendarFromDb' type="button">Ištrinti planą</button>
                <button class='saved-calendar-button loadCalendarFromDbToSession' type="button">Užkrauti į šią savaitę</button>
            </li>
        {% endfor%}
        </ul>
    </div>

</section>

{% endblock %}

{% block js %}
    <script src="../static/calendar.js"></script>
{% endblock %}