{% extends "base.html" %}

{% block navrecipes %} active {% endblock %}

{% block content%}
<section class="my-recipes-page page-outer-container">
    <h1 class="title-for-my-recipes-page wide-purple-bk page-title-text">Mano receptai</h1>
    <div class="my-recipes-inner-container page-inner-container">
        
        <div class="my-recipes-page-multiple-cards multiple-recipe-cards">
            {% for recipe in myRecipes %}
            <a href="single_recipe?recipeID={{recipe.id}}" class="recipe-card-cube">
                <h3 class="text-unimportant-title">{{ recipe.name }}</h3>
                {% if myRecipesPictDict[recipe.id] != "" %}
                <img src='{{ myRecipesPictDict[recipe.id] }}'/>
                {% else %}
                <img src='../../../static/images/intro1s.jpg'/>
                {% endif %}
            </a>
            {% endfor %}
        </div>

    </div>
    <div class="page-numbers">
        <h4 class="text-unimportant-title">Puslapis</h4>
        {% for i in range(numberOfPages + 1) %}
            {% if i != 0 %}
               <p id="page{{i}}" class="my-recipes-page-button"> {{ i }}</p>
            {% endif %}
        {% endfor%}
    </div>
    <div class="full-width-invisible-div">
        <a href="/recipes" class="back-to-recipes button">Grįžti į receptus</a>
    </div>
</section>

{% endblock %}

{% block js %}
    <script src="../static/myfavorites-myrecipes.js"></script>
{% endblock %}