{% extends "base.html" %}
{% block navhome %} active {% endblock %}


{% block content%}
<section class="personal-home-page">
    <p class="greeting wide-purple-bk page-title-text">Skanios dienos    <span class="highlight">,   {{ name }} !</span></p>
    <div class="center-asides-container">
        <aside class="favorite-recipes-aside">
            <h4 class="bold-uppercase-small">Mėgstami receptai</h4>
        </aside>
        <section class="todays-menu-section centered-card">
            <h1 class="page-title-text">Dienos meniu</h1>
            <div class="divider"></div>
            <ul class="day-menu-ul card-ul">

                {% for item in listOfDayMealDictionaries %}
                    {% for daymeal in item %}
                        
                        <li class="day-menu-li card-li">
                            <h2 class="bold-uppercase-normal">{{daymeal}}</h2>
                            <div class="multiple-recipe-cards">

                                {% for recipe in item[daymeal] %}
                                
                                <a class="imported-recipe recipe-card-cube" href="/single_recipe?recipeID={{recipe.recipeId}}">
                                    <h3 class="text-unimportant-title">{{recipe.recipeName}}</h3>
                                    <img src='{{ pictDict[ recipe.recipeId | int ] }}' />
                                </a>

                                {% endfor %}

                                
                            </div>
                        </li>

                    {% endfor %}
                {% endfor %}
            </ul>
            <div class="divider"></div>

            <a href="calendar">
                <button class="button modify-meniu-btn">Pridėti</button>
            </a>
        </section>

        <aside class="tommorows-menu-aside">
            <h4 class="bold-uppercase-small">Rytojaus meniu</h4>
        </aside>
    </div>
    <div class="week-plan-section wide-purple-bk">
        <p class="text-unimportant-title">Kas toliau numatyta šią savaitę?</p>
        <a href="calendar">
            <button class="button">
                Savaitės planas
            </button>
        </a>
    </div>
</section>


{% endblock %}