{% extends "base.html" %}
{% block navhome %} active {% endblock %}


{% block content%}
<secion class="personal-home-page">
    <p class="greeting wide-purple-bk page-title-text">Skanios dienos    <span class="highlight">,   {{ name }} !</span></p>
    <div class="center-asides-container">
        <aside class="favorite-recipes-aside">
            <h4 class="bold-uppercase-small">Mėgstami receptai</h4>
        </aside>
        <section class="todays-menu-section centered-card">
            <h1 class="page-title-text">Dienos meniu</h1>
            <div class="divider"></div>

            <ul class="day-menu-ul card-ul">
                <li class="day-menu-li card-li">
                    <h2 class="bold-uppercase-normal">Pusryčiai</h2>
                    <div class="breakfast-container multiple-recipe-cards">
                        <div class="imported-recipe recipe-card-cube">
                            <h3 class="text-unimportant-title">Granola</h3>
                            <img src="../../../static/images/granola.jpg" />
                        </div>
                        <div class="imported-recipe recipe-card-cube">
                            <h3 class="text-unimportant-title">Granola</h3>
                            <img src="../../../static/images/granola.jpg" />
                        </div>
                        <div class="imported-recipe recipe-card-cube">
                            <h3 class="text-unimportant-title">Granola</h3>
                            <img src="../../../static/images/granola.jpg" />
                        </div>
                    </div>
                </li>
                <li class="day-menu-li card-li">
                    <h2 class="bold-uppercase-normal">Pietūs</h2>
                    <div class="lunch-container multiple-recipe-cards">
                        <div class="imported-recipe recipe-card-cube">
                            <h3 class="text-unimportant-title">Tacos</h3>
                            <img src="../../../static/images/tacos.jpg" />
                        </div>
                    </div>
                </li>
                <li class="day-menu-li card-li">
                    <h2 class="bold-uppercase-normal">Užkandžiai</h2>
                    <div class="snack-container multiple-recipe-cards">
                        <div class="imported-recipe recipe-card-cube">
                            <h3 class="text-unimportant-title">Humuso sumuštinukai</h3>
                            <img src="../../../static/images/humus-sandwich.jpg" />
                        </div>
                        <div class="imported-recipe recipe-card-cube">
                            <h3 class="text-unimportant-title">Humuso sumuštinukai</h3>
                            <img src="../../../static/images/humus-sandwich.jpg" />
                        </div>
                        <div class="imported-recipe recipe-card-cube">
                            <h3 class="text-unimportant-title">Humuso sumuštinukai</h3>
                            <img src="../../../static/images/humus-sandwich.jpg" />
                        </div>
                    </div>
                </li>
                <li class="day-menu-li card-li">
                    <h2 class="bold-uppercase-normal">Vakarienė</h2>
                    <div class="dinner-container multiple-recipe-cards">
                        <!-- <div class="imported-recipe recipe-card-cube">
                            <h3 class="text-unimportant-title">Thai salotos</h3>
                            <img src="../../../static/images/thaidinner.jpg" />
                        </div> -->
                    </div>
                </li>
                <li class="day-menu-li card-li">
                    <h2 class="bold-uppercase-normal">Desertas</h2>
                    <div class="dessert-container multiple-recipe-cards">
                        <div class="imported-recipe recipe-card-cube">
                            <h3 class="text-unimportant-title">Thai salotos</h3>
                            <img src="../../../static/images/thaidinner.jpg" />
                        </div>
                    </div>
                </li>
            </ul>
            <div class="divider"></div>

            <a href="calendar">
                <button class="button modify-meniu-btn">Pridėti</button>
            </a>
        </section>

        <aside class="tommorows-menu-aside">
            <h4 class="bold-uppercase-small">Rytojaus meniu</h4>
        </aside>
    </div>
    <div class="week-plan-section wide-purple-bk">
        <p class="text-unimportant-title">Kas toliau numatyta šią savaitę?</p>
        <a href="calendar">
            <button class="button">
                Savaitės planas
            </button>
        </a>
    </div>
</section>


{% endblock %}