{% extends "base.html" %}

{% block navrecipes %} active {% endblock %}

{% block content%}
<section class="recipes-page page-outer-container">
    <h1 class="title-for-recipes-page wide-purple-bk page-title-text">Receptai</h1>
    <div class="recipes-inner-container page-inner-container">
    
    {% if loggedIn == "True" %}
    {% if user.role_name == 'chef' or user.role_name == 'admin'  %}

        <h2 class="bold-uppercase-normal">Mano receptai</h2>
        <div class="recipes-page-multiple-cards multiple-recipe-cards">
            {% for recipe in myRecipes %}
                <a href="single_recipe?recipeID={{recipe.id}}" class="recipe-card-cube">
                    <h3 class="text-unimportant-title">                    
                            {{ recipe.name }}
                    </h3>
                    {% if myRecipesPictDict[recipe.id] != "" %}
                    <img src='{{ myRecipesPictDict[recipe.id] }}'/>    
                    {% else %}
                    <img src='../../../static/images/intro1s.jpg'/>
                    {% endif %}
                </a>
            {% endfor %}
        </div>

        <div class="href-link-to-all-recipes">
            <a href="my-recipes" class="text-unimportant-title">Žiūrėti visus >></a>
        </div>
        <button id="add-recipe-button" class="button">Pridėti naują receptą</button>

        <div class="divider"></div>
        <h2 class="bold-uppercase-normal">Mėgstamiausi receptai</h2>
        <div class="recipes-page-multiple-cards multiple-recipe-cards">
            {% for recipe in myfavoriteRecipes %}
            <a href="single_recipe?recipeID={{recipe.id}}" class="recipe-card-cube">
                <h3 class="text-unimportant-title">
                    {{ recipe.name }}
                </h3>
                {% if myRecipesPictDict[recipe.id] != "" %}
                <img src='{{ myRecipesPictDict[recipe.id] }}'/>
                {% else %}
                <img src='../../../static/images/intro1s.jpg'/>
                {% endif %}
            </a>
            {% endfor %}

        </div>
        <div class="href-link-to-all-recipes">
            <a href="my-favorites" class="text-unimportant-title">Žiūrėti visus >></a>
        </div>

        <div class="divider"></div>
    {% endif %}
    {% endif %}

        <h2 class="bold-uppercase-normal">Įvairūs receptai</h2>
        <div class="recipes-page-multiple-cards multiple-recipe-cards">
            {% for recipe in adminRecipes %}
            <a href="single_recipe?recipeID={{recipe.id}}" class="recipe-card-cube">
                <h3 class="text-unimportant-title">
                    {{ recipe.name }}
                </h3>
                {% if adminRecipesPictDict[recipe.id] != "" %}
                <img src='{{ adminRecipesPictDict[recipe.id] }}'/>
                {% else %}
                <img src='../../../static/images/intro1s.jpg'/>
                {% endif %}
            </a>
            {% endfor %}
        </div>
        <div class="href-link-to-all-recipes">
            <a href="various-recipes" class="text-unimportant-title">Žiūrėti visus >></a>
        </div>
    </div>
</section>

{% include '/recipeModal.html' %}

{% endblock %}

{% block register %}

{% if loggedIn == "False" %}
            <li><a href="register">Registruotis</a></li>
            <li><a href="login">Prisijungti</a></li>
{% else %}
<li><a href="logout">Atsijungti</a></li>
<li><a href="profile">Profilis</a></li>
{% endif %}

{% endblock %}

{% block js %}
    <script src="../static/recipes.js"></script>
{% endblock %}