{% extends "base.html" %}
{% block navsearch %} active {% endblock %}


{% block content%}
<section class="search-page page-outer-container">
    <h1 class="wide-purple-bk page-title-text">Paieška</h1>
    <div class="page-inner-container">
    
    <div class="search-container">
        <label for ="search-input" class="bold-uppercase-normal">Įveskite recepto pavadinimą</label>
        <input type="text" id="search-input" name="search-input" required/>
    </div>

    <ul class="searched-recipes-ul multiple-recipe-cards">

    </ul>
</div>
</section>
{% endblock %}

{% block js %}
    <script src="../static/search.js"></script>
{% endblock %}