{% extends "base.html" %}

{% block navrecipes %} active {% endblock %}

{% block content%}

<section class="single-recipe-page page-outer-container">
    <h1 class="recipe-name-display wide-purple-bk page-title-text"> {{ recipe.name }} </h1>
    <div class="single-recipe-inner-shape page-inner-container">

        <div class="text-and-picture-display">
            <div class="heart-and-image">
                <i class="fa-solid fa-heart favorite-heart{{ favoriteValue }}" id="heartID{{recipe.id}}"></i>
                <div class="image-side-display">
                    {% if picturepath != "" %}
                        <img src={{ picturepath }}/>
                    {% else %}
                        <img src='../../../static/images/intro1s.jpg'/>
                    {% endif %}
                </div>
            </div>
            <ul class="text-side-display dashboard-card-shape">
                <li class="course-type-display">
                    {% for course in recipe.recipeCoursetype %}
                        <h2 class="bold-uppercase-normal">{{ course.name }}</h2>
                    {% endfor %}
                </li>
                <li class="cooking-time-display text-side-display--value">
                    <h3 class="text-unimportant-title">Gaminimo laikas:</h3>
                    <p>{{recipe.cookingtime}} min</p>
                </li>
                <li class="portions-display text-side-display--value">
                    <h3 class="text-unimportant-title">Porcijos:</h3>
                    <p>{{recipe.portions}}</p>
                </li>
                <li class="recipetypes-display text-side-display--value">
                    <h3 class="text-unimportant-title">Tipas:</h3>
                    {% for type in recipe.recipetypes %}
                        <p>{{ type.name }}</p>
                    {% endfor %}
                </li>
                <li class="calories-display text-side-display--value">
                    <h3 class="text-unimportant-title">Energetinė vertė: </h3>
                    <p>{{calories}} kcal/porcijoje</p>
                </li>
                
            </ul>
           
            
        </div>
        <div class="ingredients-and-preparation-display">
            <div class="ingredients-of-recipe dashboard-card-shape">
                <div class="ingredients-of-recipe--text-area">
                    <h2 class="bold-uppercase-normal">Ingredientai</h2>
                    <!-- display ingredients with subtitles -->
                    {% for subtitle in subtitlelist %}
                        {% if subtitle %}
                        <h3 class="text-unimportant-title">{{ subtitle }}</h3>
                            <ul class="subtitle-display-ul">
                                {% for ingredient in recipe.recipeIngredients %}
                                    {% if ingredient.subtitle == subtitle %}
                                        <li class="ingredient-list-li">
                                            <p>{{ ingredient.name}}</p> 
                                            <p>{{ ingredient.amount}}</p>
                                            <p>
                                            {% for key in measurmentDict %}
                                                {% if key == ingredient.measurement_id %}
                                                    {{measurmentDict[key]}}
                                                {% endif%}
                                            {% endfor %}
                                            </p>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                    <!-- display ingredients without subtitles -->
                    {% for ingredient in recipe.recipeIngredients %}
                        {% if not ingredient.subtitle %}
                            <li class="ingredient-list-li">
                                <p>{{ ingredient.name}}</p>                             
                                <p>{{ ingredient.amount}}</p>
                                <p>
                                {% for key in measurmentDict %}
                                    {% if key == ingredient.measurement_id %}
                                        {{measurmentDict[key]}}
                                    {% endif%}
                                {% endfor %}
                                </p>
                            </li>
                        {% endif %}
                        

                    {% endfor %}
                </div>
            </div>
            <div class="preparation-of-recipe-display dashboard-card-shape">
                <h2 class="bold-uppercase-normal">Paruošimas</h2>
                <ol class="preparation-display-ol">
                    {% for sentence in sentencelist%}
                    <li><p>{{ sentence }}</p></li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>

    <div class="full-width-invisible-div">
        <button class="back-btn button">Grįžti</button>
    </div>

</section>

{% endblock %}

{% block js %}
    <script src="../static/singlerecipe.js"></script>
{% endblock %}