:root {
    --grey: rgb(206, 205, 205);
    --brgrey: rgb(242, 242, 242);
    --textgrey: rgb(83, 81, 81);
    --purple: rgb(107, 57, 100);
    --midpurple:rgb(129, 95, 125);
    --brpurple:rgb(179, 165, 175);
    --orange: rgb(240, 185, 90);
    --brorange:rgb(242, 230, 210);
    --white: #FFF;
    --black: #000;
    --title: 'Comforter Brush', cursive;
    --text: 'Bitter', serif;
    --purpleboxshadow: 1px 0px 2px rgba(107, 57, 100, 0.5);

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--white);
    font-family: var(--text);
    color: var(--black);
}

h1{
    font-family: var(--text);
    font-weight: 500;
    font-size: 1.5em;
    color: var(--purple);
}

h2{
    font-weight: 300;
    font-size: 2em;
    padding-top: 0.5em;
    letter-spacing: 0.05em;
    font-family: var(--title);

}

.decoration-line {
    height: 3px;
    width: 10%;
    background-color: var(--purple);
    border-radius: 5px;
}

.divider{
    height: 1px;
    width: 100%;
    background-color: var(--grey);
}

.button h2{
    padding: 0;
    margin: 0;
    font-family: var(--text);
    font-weight: 700;
    letter-spacing: 0.005em;
    font-size: large;

}

.button {
    padding: 0.5em 2.5em;
    font-family: var(--text);
    text-transform: uppercase;
    border: none;
    background-color: var(--orange);
    color: var(--white);
    font-size: 1em;
}

.button:hover {
    background-color: var(--black);
}
.button:disabled{
    background-color: var(--grey);

}

input[type="file"] {
    display: none;
}

.addedFilename{
    font-style: italic;
    font-size: 0.8em;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.close {
    color: var(--white);
    position: absolute;
    top: -0.2em;
    right: 0.2em;
    padding: 0.2em;
    font-size: 2em;
}

.close:hover,
.close:focus {
    color: var(--purple);
    text-decoration: none;
    cursor: pointer;
}

/* navigation style ------------------*/

nav {
    margin: 0 auto;
    font-family: var(--text);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight:700;
    font-size: 1.1em;
    max-width: 1200px;
    padding: 0.5em 0 0 0;
}

.nav-ul {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin: 0;
    padding:0 1em;
    flex-flow: row wrap;
}

.nav-li {
    list-style-type: none;
    display: flex;
    padding: 0 0.5em;
    align-items: center;
    margin: 0.5em 0 0 0;
}

.nav-li a {
    text-decoration: none;
    color: var(--black);
}

.nav-li:first-child {
    margin-right: auto;
    font-size: 2.5em;
    font-family: var(--title);
    text-transform: capitalize;
    font-weight: 100;
    color: #5f396b;
}

.title a{
    color:#5f396b;
}

.nav-ul .icon{
    font-size: 1.1em;
    color: var(--purple);
}

.menu-icon, .mobile{
    display:none;
}

.active{
    border-bottom: 2px solid var(--purple);
}

@media (max-width: 785px) {
    .nav-ul{
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }
    .nav-li{
        display:none;
        padding: 0.2em;
        margin: 0;
    } 
    
    .menu-icon {
        display: inline;
        align-self: stretch;
        margin: 0;
    }
    .nav-li:first-child {
        display: flex;
        flex-basis: 100%;
        flex-direction: row;
        justify-content: space-around;
        margin: 0 auto;
    }
    /* responsive */
    .responsive{
        display: flex;       
        flex-direction: column;
        align-items: flex-start;
    } 

    .responsive .nav-li:first-child {
        margin: 0 auto;
    }

    .responsive .nav-li {
        box-shadow: none;
    }
}
/* END OF navigation style ------------------*/

/* INTRODUCTION SECTION ------------------- */

.introduction{
    background-color: var(--brgrey);
    margin: 0 auto;
}

.introduction-elements{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.introduction img {
    width: 50%;
    height: 500px;
    object-fit: cover;
    box-shadow: 2px -3px 10px var(--black);
}

.introduction .text-section {
    padding: 2em;
}

.introduction .text-section li {
    margin-left:-1.2em;
    padding: 0.5em;
    line-height: 1.3em;
    list-style: none;
}

.introduction h1{
    margin: 0.2em;
    text-transform: uppercase;
    font-weight: 700;
}

.introduction h1 .text-highlight{
    text-transform: none;
    padding: 0.2em;
    color: var(--black);
    font-weight: 100;

}

.introduction .text-highlight{
    font-size: 2em;
    color: var(--purple);
    padding: 0.5em;
    font-family: var(--title);
}

@media (max-width: 950px) {

    .introduction h1{
        display: flex;
        flex-direction: column;
    }
    .introduction h1 .text-highlight{
        flex-basis: 100%;
    }
}


@media (max-width: 715px) {
    .introduction-elements{
        flex-direction: column-reverse;    }

    .introduction .text-section li {
        padding: 0.5em;
        line-height: 1em;
        list-style: none;
    }
    .introduction .text-highlight{
        font-size: 1em;
        color: var(--purple);
        font-family: var(--text);
        font-style: italic;
        padding: 0;
    }

    .introduction h1{
        display: inline;
    }

    .introduction h1 .text-highlight {
        font-size: 1.5em;
        font-family: var(--title);
    }

    .introduction img{
        height: 200px;
        width:100%;
    }
}
@media (max-width: 450px) {
    .introduction h1{
        display: flex;

    }
}

/* _________________-INTRODUCTION END ------------ */

/* _________________Login-prompt ------------ */

.full-width-purple-element {
    background-color: var(--purple);
    color: var(--white);
    padding: 2em;
    text-align: center;
}

.full-width-purple-element p{
    margin-top: 0;
    font-style: italic;
}

/* Login-prompt END ------------ */

/* FOOTER ------------ */

footer {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.3em;
    padding: 1em;
    color: var(--textgrey);
}

.footer-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-nav a{
    text-decoration: none;
    color: var(--textgrey);
    font-size: 0.8em;
    line-height: 2em;
}

.footer-nav h2{
    font-family: var(--text);
    font-size: medium;
    text-transform: uppercase;
    font-weight: 600;
}

/* CONTACT ME ------------ */

.message-me{
    flex-basis: 70%;
}

.form-style{
    padding:0 1em 1em 1em;
    max-width: 800px;
    margin: 1em auto;
}

.form-style h2{
    margin-top:0;
    padding-top:0;
}

.form-style form{
    background-color: var(--brgrey);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
    gap: 1em;
    margin-top: 1em;
}
.form-style form label {
    flex-basis: 20%;
    text-align: right;
    color: var(--purple);
    text-transform: uppercase;
    font-size: smaller;
    font-weight: 600;
}
.form-style form input, .form-style form textarea {
    flex-basis: 70%;
    background-color: var(--white);
    border: none;
    box-shadow: var(--purpleboxshadow);
    font-family: var(--text);
    padding: 0.5em;
}
/* END CONTACT ME ------------ */

.mobile-visible{
    display:none;
}

.copyrights{
    margin-top: 2em;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px){
    .message-me{
        flex-basis: 100%;
    }
    .mobile-visible{
        margin:1em 0;
        display:flex;
    }
}

/* FOOTER  end------------ */

/* BLOCK CONTENT GENERAL STYLE--------- */

.block-content{
    margin: 0 auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-color: var(--brgrey);
    color: var(--purple);
}

.inner-block{
    max-width: 600px;
    padding: 0 auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* END BLOCK CONTENT GENERAL STYLE--------- */
/* LOGIN PAGE STYLE--------- */


.inner-block h1{
    background-color: var(--purple);
    width: 100%;
    text-align: left;
    color: white;
    font-size: medium;
    padding: 1em;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 1.5em;
    text-transform: uppercase;
}

.reg-form{
    margin: 0 auto 1em;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

.reg-form .outer{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.reg-form .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis:70%;
}

.reg-form .inner label{
    font-size: xx-small;
    visibility: hidden;
    margin: 0;
    padding: 0;
}

.reg-form input{
    font-family: var(--text);
    flex-basis: 50%;
    max-height: 2em;
    min-height: 2em;
    border: none;
    border-bottom: 1px solid var(--purple);
    font-size: medium;
}

.button-highlight{
    width: 100%;
    margin-top: 1em;
    text-align: center;
    padding: 1.5em;
}

@media (max-width: 500px){
    .reg-form .inner{
        flex-direction: column;
        flex-basis: 90%;
    }

}
@media (max-width:800px){
    .inner-block{
        max-width: 95%;
        margin: 0 auto;
    }
}
/* END LOGIN PAGE STYLE--------- */

/* Personal HOMEPAGE STYLE--------- */
.personal-home-page .greeting{
    background-color: rgba(107, 57, 100, 0.9);
    margin: 0;
    padding: 0.5em;
    font-size: 1.5em;
    color: var(--white);
    text-align: center;
    font-weight: 100;
}

.personal-home-page .greeting .highlight{
    font-family: var(--title);
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

.center-asides-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

aside{
    max-width: 300px;
    margin: 0 auto;
    width:18%;
    padding: 1em;
    border: 1px solid var(--grey);
}

aside h4{
    text-transform: uppercase;
    font-size: 0.8em;
    border-bottom: 1px solid var(--purple);
}

.outer-card-shape{
    max-width: 700px;
    background-color: var(--brgrey);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 60%;
    margin: 2em auto;
    padding: 0 0 2em;
    box-shadow: 1px 1px 10px var(--textgrey);
}

.outer-card-shape h1{
    font-size: 4em;
    letter-spacing: 0.1em;
    font-family: var(--title);
    background: linear-gradient(90deg, rgba(240, 185, 90, 1) , rgba(240, 185, 90, 0.7));
    color: var(--white);
    padding: 0 1em;
}

.card-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.todays-menu-section .decor-triangle-right{
    border-left: 2em solid rgba(240, 185, 90, 0.7);
    border-top: 2.8em solid transparent;
    border-bottom: 2.8em solid transparent;
    height: 5.625em;
}

.todays-menu-section .decor-triangle-left{
    border-left: 2em solid transparent;
    border-top: 2.8em solid rgba(240, 185, 90, 1);
    border-bottom: 2.8em solid rgba(240, 185, 90, 1);
    height: 5.625em;
}

.card-ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.day-menu-ul button{
    background-color: rgba(107, 57, 100, 0.9);
    font-weight: 100;
}

.card-li{
    display: flex;
    flex-direction: row;
    padding: 2em 0; 
    justify-content: space-between;
    align-items:center;
    border-bottom: 1px solid var(--purple);
}
.card-li:first-child{
    padding-top: 0; 
}

.card-li h2, .new-recipe-li h2{
    font-size: large;
    font-family: var(--text);
    text-transform: uppercase;
    font-weight: 600;
}

.day-menu-li div{
    width: 65%;
    text-align: center;
}

div.imported-recipe{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    width: 100%;
}

.imported-recipe img{
    width: 100%;
    max-height: 200px;
    min-height: 165px;
    object-fit: cover;
    grid-row: 1 / 5;
    grid-column: 1 / 2;
    overflow: hidden;
}

.imported-recipe h3{
    order: 1;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background-color: rgba(107, 57, 100, 0.8);
    color: var(--white);
    padding: 0.2em 1em; 
    margin-top: 0;
    font-weight: 400;
    font-style: italic;
}

.todays-menu-section .modify-menu{
    margin-top: 2em;
    font-size: 1.2em;
    font-weight: 500;
}

@media(max-width: 1275px){
    aside{
        display: none;
    }
    .outer-card-shape{
        width:90%;
    }
}

@media (max-width: 800px){
    .outer-card-shape{
        width: 90%;
    }

    .day-menu-li{
        flex-direction: column;
    }
}
@media (max-width: 600px){


    .outer-card-shape h1{
        font-size: 4em;
        letter-spacing: 0.1em;
        font-family: var(--title);
        background: none;
        color: var(--purple);
        padding: 0 1em;
    }
    
    .todays-menu-section .decor-triangle-right, .todays-menu-section .decor-triangle-left{
       display: none;
}
}

@media (max-width: 500px){
    .outer-card-shape h1{
        font-size: 2.5em;
    }
}
/* END Personal HOMEPAGE STYLE--------- */
/* ADD RECIPE FUNCTIONALITY in RECIPES */

.new-recipe-li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0 0 2em 0;
    width: 100%;
}

.new-recipe-li h2{
    padding-top: 0;
}

.new-recipe-li input, .new-recipe-li textarea{
    max-width: 100%;
    background-color: var(--white);
    border: none;
    box-shadow: var(--purpleboxshadow);
    font-family: var(--text);
    padding: 0.5em;
    font-size: 1em;
}

.bottom-border{
    border-bottom: 1px solid var(--purple);
}

.ingredient-title h2{
    margin-bottom: 0;
}

.confirmed-ingredients-ul{
    padding:0 0.5em 0.5em 0.5em;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap; 
    margin-bottom: 1em;
}

.confirmed-ingredients-li{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch; 
    width: 45%;
}

.confirmed-ingredients-li p{
    margin: 0.1em;
    font-size: 0.8em;
}

.confirmed-ingredients-li p:first-child{
    text-transform: uppercase;
    color: var(--purple);
    font-weight: 600;
    flex-basis: 60%;
}

.deleteIngredientBtn{
    border: none;
    box-shadow: var(--purpleboxshadow);
    background-color: var(--grey);
    color: var(--white)
}

.deleteSubtitleBtn {
    border: none;
    color: var(--purple);
    background-color: transparent;
}

.deleteIngredientBtn:hover, .deleteSubtitleBtn:hover{
    background-color: var(--white);
    color: var(--purple)
}

.ingredient-input-and-button{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.add-ingredient-field{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.ingredient-label-and-input-area{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:stretch;
    max-width: 400px;
}

.ingredient-label-and-input-area label{
    font-style: italic;
}

.ingredient-label-and-input-area ul{
    width:100%;
    padding:0;
    position:absolute;
    top:1.8em;
    z-index: 1;
    box-shadow: var(--purpleboxshadow);
    color: var(--white);
}

.ingredient-label-and-input-area li{
    text-align: left;
    padding: 0.5em;
    list-style: none;
    background-color: var(--midpurple);
    width:100%;
}

.ingredient-label-and-input-area li:hover{
    background-color: var(--purple);
}

.ingredient-input-area{
    display:flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    position:relative;
    width:50%;
}

.button.add-ingredient-subtitle{
    font-size: 1.5em;
    padding: 0 0.2em;
    margin: 0.5em 0.5em 0.5em 0;
}

.ingredient-subtitle-input{
    font-style: normal;    
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8em;
    flex-basis: 80%;
    padding: 0.2em 0;
}

.ingredients-subtitle.ingredient-input-and-button{
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.ingredient-subtitle-dropdown-area{
    display: none;
}

.add-ingredient-field.subtitle{
    width: 80%;
    margin: 1em;
}

.confirmed-ingredients-li.ingredient-subtitle{
    font-size: 1.2em;
    letter-spacing: 0.05em;
    margin: 0.5em 0;
}

.prep-time-file-add, .portions-and-category{
    display: flex;
    flex-direction: row;
    padding-top: 0;
    align-items: flex-start;
}

.half-size{
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.half-size:first-child{
    padding-bottom: 0;
}

.prep-time, .portions{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.prep-time input, .portions input{
    width: 40%;
    max-width: 100px;
}

.confirm-recipe{
    margin: 2em auto;
    text-align: center;
}

.meal-category-area div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    font-style: italic;
}

.meal-category-area input{
    max-width: 20%;
}

@media (max-width: 750px){
    .ingredient-label-and-input-area{
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }
    .add-ingredient-field{
        gap:1em;
        flex-basis: 80%;
    }
    .ingredient-input-and-button button{
        margin-top: 1em;
    }
    .ingredient-input-area{
        width: 100%;
    }
    .ingredient-label-and-input-area label{
        align-self:auto;
    }
    .confirmed-ingredients-li{
        width: 70%;
        max-width: 244.8px;
    }   
}

@media (max-width: 600px){
    .recipe-creation-div h1{
        font-size: 2em;
    }
    .new-recipe-li.half-size{
        max-width: 100%;
    }
    
    .new-recipe-li.half-size:last-child{
        border-top: #5f396b solid;
    }
    
    .prep-time-file-add, .portions-and-category {
    flex-direction: column;
    gap:2em;
    }
}

/* END ADD RECIPE FUNCTIONALITY in RECIPES */
