:root {
    --grey: rgb(206, 205, 205);
    --brgrey: rgb(242, 242, 242);
    --textgrey: rgb(83, 81, 81);
    --purple: rgb(107, 57, 100);
    --midpurple:rgb(129, 95, 125);
    --brpurple:rgb(179, 165, 175);
    --orange: rgb(240, 185, 90);
    --dkorange: rgb(229, 148, 9);
    --brorange:rgb(242, 230, 210);
    --warmbrorange:rgb(249, 227, 188);
    --hotpink: rgb(255, 0, 111);
    --red: rgb(247, 139, 181);
    --white: #FFF;
    --black: #000;
    --title: 'Comforter Brush', cursive;
    --text: 'Bitter', serif;
    --purpleboxshadow: 1px 0px 2px rgba(107, 57, 100, 0.5);

}

* {
    box-sizing: border-box;
}

textarea:focus, input:focus, select:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--white);
    font-family: var(--text);
    color: var(--black);
}
table, th, td {
    border: 1px solid;
  }

input, textarea, select, option {
    font-family: var(--text);
}

p {
    font-size: 1.1rem;
    padding: 0.2em 0;
    margin:0;
}

h1, h2, h3, h4, ul{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}

/* TEXT-STYLES */
.bold-uppercase-normal{
    font-family: var(--text);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight:700;
    font-size: 1.1rem;
    padding: 0.5em 0;
}

.bold-uppercase-small{
    font-family: var(--text);
    text-transform: uppercase;
    font-weight:700;
    font-size: 0.8rem;
    padding: 0.2em 0;
}

.curly-title-like{
    font-size: 2.5rem;
    font-family: var(--title);
    text-transform: capitalize;
    font-weight: 100;
    color:var(--purple);
    letter-spacing: 0.05em;
    padding: 0.5em 0;
}

.simple-text{
    font-size: 1.1rem;
    padding: 0.2em 0;
}

.simple-text-small{
    font-size: 0.8rem;
    padding: 0.2em 0;
}

.text-unimportant-title{
    font-weight: 200;
    font-size: 1.2rem;
    padding: 0.4em 0;
}

.page-title-text{
    font-size: 2rem;
    font-weight: 200;
    padding: 0.6em 0;
}

/* TEXT-STYLES END */

.wide-purple-bk{
    background-color: rgba(107, 57, 100, 0.9);
    margin: 0;
    color: var(--white);
    text-align: center;
}

.multiple-recipe-cards, .searched-recipes-ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.mini-recipe-card{
    display:flex;
    flex-direction: column-reverse;
    width: 100px;
    max-height: 120px;
    min-height: 120px;
    overflow: hidden;
}
.mini-recipe-card img{
    min-height: 100px;
    width:100%;
    object-fit:cover;
}

.recipe-card-cube, .mini-recipe-card{
    margin: 1em;
    box-shadow: 2px 2px 10px var(--midpurple);
    text-align: center;
}

.recipe-card-cube{
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    width: 17%;
    transition: .3s ease-in-out;
}
@media (max-width: 1200px){
    .recipe-card-cube{
        width: 20%;
    }
}
@media (max-width: 1000px){
    .recipe-card-cube{
        width: 25%;
    }
}
@media (max-width: 725px){
    .recipe-card-cube{
        width: 35%;
    }
}
@media (max-width: 550px){
    .recipe-card-cube{
        width: 55%;
    }
}

.recipe-card-cube:hover, .mini-recipe-card:hover{
    box-shadow: 4px -3px 5px var(--midpurple);
    transform: scale(1.1);
}

.recipe-card-cube img {
    width:100%;
    object-fit:cover;
    grid-column: 1/2;
}
.recipe-card-cube img {
    min-width: 200px;
    max-height: 250px;
    min-height: 250px;
    grid-row: 1/11;
}

.recipe-card-cube h3{
    grid-column: 1/2;
    z-index: 1;
    background-color: rgba(129, 95, 125, 0.9);
    color: var(--white);
    padding:0.5em 1em 0.6em 1em; 
    align-self: center;
    grid-row: 8/11;
}

.dashboard-card-shape{
    padding:1em 2em;
    margin:0;
    box-shadow: 0px 0px 10px var(--midpurple);
    border-radius: 10px;
}

.decoration-line {
    height: 3px;
    width: 10%;
    background-color: var(--purple);
    border-radius: 5px;
}

.divider{
    height: 1px;
    width: 100%;
    background-color: var(--grey);
}


.button {
    padding: 0.5em 2.5em;
    border: none;
    background-color: var(--orange);
    font-family: var(--text);
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight:700;
    font-size: 1.1rem;
}

.button-thin{
    padding: 0.5em 2.5em;
    border: none;
    font-family: (var(--text));
    background-color: var(--purple);
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight:200;
    font-size: 1.1rem;
}

.button:hover, 
.button-thin:hover, 
.button-thin.cleanCurrentCalendar:hover, 
.saved-calendar-button:hover {
    background-color: var(--black);
    cursor: pointer;
    color: var(--white);
}

.button:disabled{
    background-color: var(--grey);
}

input[type="file"] {
    display: none;
}

.addedFilename{
    font-style: italic;
    font-size: 0.8em;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.close {
    color: var(--white);
    position: absolute;
    top: -0.2em;
    right: 0.2em;
    padding: 0.2em;
    font-size: 2em;
}

.close:hover,
.close:focus {
    color: var(--purple);
    text-decoration: none;
    cursor: pointer;
}

.return-to-previous-page{
    align-self: center;
    margin: 0 auto;
}

.flash-message{
    text-align: center;
    margin-bottom:0.2em;
}
.flash-message.Error{
    background-color: var(--grey);
    padding: 1em;
    box-shadow: 0px 2px 5px var(--textgrey);
    color: var(--textgrey);
}
.flash-message.Success{
    background-color: var(--orange);
    padding: 1em;
    box-shadow: 0px 2px 5px var(--dkorange);
    color: var(--white);
    font-weight: bold;
}

/* navigation style ------------------*/

nav.bold-uppercase-normal {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0.5em 0 0 0;
}

.nav-ul {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin: 0;
    padding:0 1em;
    flex-flow: row wrap;
}

.nav-li {
    list-style-type: none;
    display: flex;
    padding: 0 0.5em;
    align-items: center;
    margin: 0.5em 0 0 0;
}

.nav-li a {
    text-decoration: none;
    color: var(--black);
}

.title {
    margin-right: auto;
}

.title a{
    color:var(--purple);
}

.nav-ul .icon{
    font-size: 1.1em;
    color: var(--purple);
}

.menu-icon, .mobile{
    display:none;
}

.active{
    border-bottom: 2px solid var(--purple);
}

@media (max-width: 785px) {
    .nav-ul{
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }
    .nav-li{
        display:none;
        padding: 0.2em;
        margin: 0;
    } 
    
    .menu-icon {
        display: inline;
        align-self: stretch;
        margin: 0;
    }
    .nav-li:first-child {
        display: flex;
        flex-basis: 100%;
        flex-direction: row;
        justify-content: space-around;
        margin: 0 auto;
    }
    /* responsive */
    .responsive{
        display: flex;       
        flex-direction: column;
        align-items: flex-start;
    } 

    .responsive .nav-li:first-child {
        margin: 0 auto;
    }

    .responsive .nav-li {
        box-shadow: none;
    }
}
/* END OF navigation style ------------------*/

/* INTRODUCTION SECTION ------------------- */


.introduction-inner-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
} 

.introduction img {
    width: 50%;
    height: 500px;
    object-fit: cover;
    box-shadow: 2px -3px 10px var(--black);
    border-radius: 10px;
}

.introduction .text-section {
    padding: 2em;
}

.introduction .text-section li {
    margin-left:-1.2em;
    padding: 0.5em;
    list-style: none;
}

.introduction p{
    line-height: 1.3em;
}

.text-highlight{
    font-size: 2em;
    color: var(--purple);
    padding: 0.5em;
    font-family: var(--title);
}

@media (max-width: 950px) {

    .introduction h1{
        display: flex;
        flex-direction: column;
    }
    .introduction h1 .text-highlight{
        flex-basis: 100%;
    }
}


@media (max-width: 715px) {
    .introduction-inner-container{
        flex-direction: column-reverse;    }

    .introduction .text-section li {
        padding: 0.5em;
        line-height: 1em;
        list-style: none;
    }
    .introduction .text-highlight{
        font-family: var(--text);
        font-weight: 200;
        font-size: 1.2rem;
        padding: 0.4em 0;
    }

    .introduction h1{
        display: inline;
    }


    .introduction img{
        height: 200px;
        width:100%;
    }
}
@media (max-width: 510px) {
    .introduction h1{
        display: flex;

    }
}

/* _________________-INTRODUCTION END ------------ */

/* _________________Login-prompt ------------ */

.login-prompt {
    padding: 2em;
}

.login-prompt p{
    margin: 1em auto;
}


/* Login-prompt END ------------ */

/* FOOTER ------------ */

footer {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.3em;
    padding: 1em;
    color: var(--textgrey);
}

.footer-nav a{
    text-decoration: none;
    color: var(--textgrey);
    line-height: 2em;
}

/* CONTACT ME ------------ */

.message-me{
    flex-basis: 70%;
}

.form-style{
    padding:0 1em 1em 1em;
    max-width: 800px;
    margin: 1em auto;
}

.form-style h2{
    margin-top:0;
    padding-top:0;
}

.form-style form{
    background-color: var(--brgrey);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
    gap: 1em;
    margin-top: 1em;
}
.form-style form label {
    flex-basis: 20%;
    text-align: right;
    color: var(--purple);
}
.form-style form input, .form-style form textarea {
    flex-basis: 70%;
    background-color: var(--white);
    border: none;
    box-shadow: var(--purpleboxshadow);
    padding: 0.5em;
}
/* END CONTACT ME ------------ */

.mobile-visible{
    display:none;
}

.copyrights{
    margin-top: 2em;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px){
    .message-me{
        flex-basis: 100%;
    }
    .mobile-visible{
        margin:1em 0;
        display:flex;
    }
}

/* FOOTER  end------------ */

/* BLOCK CONTENT GENERAL STYLE--------- */

.block-content{
    margin: 0 auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-color: var(--brgrey);
    color: var(--purple);
}

.inner-block{
    max-width: 600px;
    min-width: 400px;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--purpleboxshadow);
}


/* END BLOCK CONTENT GENERAL STYLE--------- */
/* LOGIN AND REGISTRATION PAGE STYLE--------- */


.inner-block h1{
    background-color: var(--purple);
    width: 100%;
    text-align: left;
    color: var(--white);
    padding: 1em;
}

.reg-form{
    margin: 0 auto;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    width: 100%;
}

.reg-form .outer{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.reg-form .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis:70%;
}

.reg-form .inner label{
    font-size: xx-small;
    visibility: hidden;
    margin: 0;
    padding: 0;
}

.reg-form input{
    flex-basis: 50%;
    max-height: 2em;
    min-height: 2em;
    border: none;
    border-bottom: 1px solid var(--purple);
}

.reg-form button{
    margin: 2em auto 1em;
}

.forgotten-pass{
    text-decoration: none;
    color:var(--textgrey);
    padding-bottom: 1em;
    margin-top: 0;
}
.forgotten-pass:hover{
    color:var(--black);
    text-decoration: underline;
}

@media (max-width:800px){
    .inner-block{
        max-width: 95%;
        margin: 0 auto;
    }
}

@media (max-width: 500px){
    .reg-form .inner{
        flex-direction: column;
        flex-basis: 90%;
    }
    .inner-block{
        min-width: 95%;
    }
}
/* END LOGIN PAGE STYLE--------- */

/* Personal HOMEPAGE STYLE--------- */
.greeting{
    font-size: 1.5em;
}

.highlight{
    font-family: var(--title);
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

.center-asides-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

aside{
    max-height: min-content;
    max-width: 300px;
    margin: 0 auto;
    width:15%;
    padding: 1em;
    border: 1px solid var(--grey);
}

aside h4{
    border-bottom: 1px solid var(--purple);
}

.favorite-recipes-aside{
    border-left: none;
}
.various-recipes-aside{
    border-right: none;
}

.recipes-representation-aside{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.recipes-representation-aside .mini-recipe-card {
    margin: 0.5em;
}
.recipes-representation-aside a{
    color: var(--black);
    text-decoration: none;
}

.centered-card{
    max-width: 700px;
    width: 60%;
    margin: auto;
    margin-top: min(2em);
    margin-bottom: min(2em);
    padding: 0 0 2em;
    box-shadow: 1px 1px 10px var(--textgrey);
    background-color: var(--brgrey);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.todays-menu-section h1{
    padding: 1.5em;
    width: 100%;
    text-align: center;
    color: var(--purple);
}

.card-ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.day-menu-ul button{
    background-color: rgba(107, 57, 100, 0.9);
}

.todays-menu-section.centered-card{
    max-width: 1200px;    
}

.day-menu-li h2{
    min-width: 150px;
    text-align: center;
}
.card-li{
    display: flex;
    flex-direction: row;
    padding: 1em 0; 
    justify-content: space-between;
    align-items:center;
}

.card-li:not(:last-child){
    border-bottom: 1px solid var(--purple);
}


.day-menu-ul .multiple-recipe-cards .recipe-card-cube{
    width: 90%;
    height: 250px;
}

.day-menu-ul .multiple-recipe-cards{
    flex-wrap: nowrap;
}

.imported-recipe.recipe-card-cube img{
    min-width: 150px;
}

.modify-meniu-btn{
    margin-top: 2em;
}

@media(max-width: 1425px){
    aside{
        display: none;
    }
    .centered-card{
        width:90%;
        margin: 2em auto;
    }
}

@media (max-width: 950px){
    .centered-card{
        width: 90%;
    }
    .day-menu-ul .multiple-recipe-cards{
        flex-wrap: wrap;
    }
    .day-menu-li{
        flex-direction: column;
    }
    .day-menu-li a{
        width: 90%;
    }
}

.week-plan-section {
    background-color: var(--purple);
    padding: 2em;
}

.week-plan-section p{
    margin-top: 0;
}


/* END Personal HOMEPAGE STYLE--------- */
/* ADD RECIPE FUNCTIONALITY in RECIPES */

.new-recipe-li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 1em 0 2em;
    width: 100%;
}

.new-recipe-li input, .new-recipe-li textarea{
    max-width: 100%;
    background-color: var(--white);
    border: none;
    box-shadow: var(--purpleboxshadow);
    padding: 0.5em;
    font-size: 1em;
}

.bottom-border{
    border-bottom: 1px solid var(--purple);
}


.confirmed-ingredients-ul{
    padding:0 0.5em 0.5em 0.5em;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap; 
    margin-bottom: 1em;
}

.confirmed-ingredients-li{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch; 
    width: 45%;
}

.confirmed-ingredients-li p{
    text-transform: uppercase;
    font-weight:700;
    font-size: 0.8rem;
    padding: 0.1em 0;
    margin: 0;
}
.confirmed-ingredients-li p:first-child{
    flex-basis: 60%;
}

.subtitle-add-container.ingredient-input-and-button{
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.button.add-ingredient-subtitle{
    font-size: 1.5em;
    padding: 0 0.2em;
    margin: 0.5em 0.5em 0.5em 0;
}

.subtitle{
    width: 80%;
    margin: 1em;
}

.ingredient-subtitle-dropdown-area{
    display: none;
}

.confirmed-ingredients-li.ingredient-subtitle{
    /* text-unimportant-title */
    font-weight: 200;
    font-size: 1.2rem;
    padding: 0.4em 0;
    text-transform: capitalize;
}

.deleteSubtitleBtn, .deleteIngredientBtn, .deleteRecipeInputBtn {
    border: none;
    color: var(--purple);
    background-color: transparent;
}

.deleteIngredientBtn:hover, .deleteSubtitleBtn:hover, .deleteRecipeInputBtn:hover{
    background-color: var(--white);
    color: var(--purple)
}

.ingredient-input-and-button{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.add-ingredient-field{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.ingredient-label-and-input-area{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:stretch;
    max-width: 400px;
}

.ingredient-label-and-input-area .text-unimportant-title{
    font-size:1.1rem;
}

.ingredient-label-and-input-area ul{
    width:100%;
    padding:0;
    position:absolute;
    top:1.8em;
    z-index: 1;
    box-shadow: var(--purpleboxshadow);
    color: var(--white);
}

.ingredient-label-and-input-area li{
    text-align: left;
    padding: 0.5em;
    list-style: none;
    background-color: var(--midpurple);
    width:100%;
}

.ingredient-label-and-input-area li:hover{
    background-color: var(--purple);
}

.ingredient-input-area{
    display:flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    position:relative;
    width:50%;
}

.prep-time-file-add, .portions-and-category{
    display: flex;
    flex-direction: row;
    /* padding-top: 0; */
    align-items: flex-start;
}

.half-size{
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.half-size:first-child{
    padding-bottom: 0;
}

.prep-time, .portions{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.prep-time input, .portions input{
    width: 40%;
    max-width: 100px;
}

.confirm-recipe{
    margin: 2em auto;
    text-align: center;
}

.meal-category-area div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.meal-category-area input{
    max-width: 20%;
}

@media (max-width: 750px){
    .ingredient-label-and-input-area{
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }
    .add-ingredient-field{
        gap:1em;
        flex-basis: 80%;
    }
    .ingredient-input-and-button button{
        margin-top: 1em;
    }
    .ingredient-input-area{
        width: 100%;
    }
    .ingredient-label-and-input-area label{
        align-self:auto;
    }
    .confirmed-ingredients-li{
        width: 70%;
        max-width: 244.8px;
    }   
}

@media (max-width: 600px){
    .new-recipe-li.half-size{
        max-width: 100%;
    }
    
    .new-recipe-li.half-size:last-child{
        border-top: 1px solid var(--purple);
    }
    
    .prep-time-file-add, .portions-and-category {
        flex-direction: column;
        gap:2em;
    }
}

/* END ADD RECIPE FUNCTIONALITY in RECIPES */

/* Single recipe page reflection */

.single-recipe-inner-shape img{
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;
    box-shadow: 0px 0px 10px var(--black);
    border-radius: 10px;
}

.text-and-picture-display{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 1em 2em;
    gap: 1em;
}

.heart-and-image{
    flex-basis:60%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.image-side-display{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1/10;
    grid-row: 1/9;
}

.favorite-heart{
    grid-column: 9/10;
    grid-row: 8/9;
    z-index: 1;
    font-size: 2em;
    color: var(--white);
}

.favorite-heart:hover, .favorite-heart.favorited{
    color:var(--hotpink);
}

.text-side-display{
    min-width: 400px;
    flex-basis:30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-side-display p{
    background-color:var(--warmbrorange);
    padding: 0.15em 0.5em;
    border-radius: 10px;
    box-shadow: 2px 2px 3px var(--orange);
    margin-left:0.3em;
}

.text-side-display--value{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.ingredients-and-preparation-display{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em;
    gap: 1em;
}

.ingredients-of-recipe{
    flex-basis: 30%;
    margin:0;
}

.ingredients-of-recipe--text-area{
    max-width: 300px;
}

.preparation-of-recipe-display{
    flex-basis: 70%;
    margin:0;
}

.ingredient-list-li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.ingredient-list-li p{
    margin: 0;
    padding:0;
}

.ingredient-list-li p:first-child{
    margin-right: auto;
}

.ingredient-list-li p:last-child{
    margin-left: 0.2em;
}

.subtitle-display-ul, .preparation-display-ol{
    margin: 0.5em 0 2em 0;
}

.subtitle-display-ul{
    padding-left: 0.5em;
}

.preparation-display-ol{
    padding-left: 1em;
}
.recipe-action-button{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-bottom: 2em;
}

@media (max-width:850px) {

    .text-and-picture-display, .ingredients-and-preparation-display{
        flex-direction: column;
    }
   
    .text-and-picture-display{
        margin-bottom: 0;
    }

    .text-side-display{
        min-width: min-content;
    }
}

@media (max-width:650px) {
    
    .text-side-display h3, .ingredients-of-recipe h3{
        font-size: 1em;
    }
    .text-side-display--value p{
        padding-left: 0.5em;
        font-size: 0.9em;
    }
}

/* end of single recipe template */
/* recipes page */

.page-outer-container{
    margin: 0 auto;
    background-color: var(--brgrey);

}
.page-inner-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
    width: 100%;
}

.recipes-inner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.recipes-inner-container .divider{
    margin: 2em 0;
}

.recipes-inner-container h2:not(:first-child){
    padding-top: 0;
} 

.recipes-page-multiple-cards{
    max-height: 275px;
}

.href-link-to-all-recipes{
    margin:1em auto;
}

.href-link-to-all-recipes a{
    text-decoration: none;
}

.multiple-recipe-cards a{
    text-decoration: none;
    color: var(--white);
}

.href-link-to-all-recipes a:hover{
    color: var(--black);
}

/* my-recipes AND my-favorites AND various-recipes page style */
.my-recipes-inner-container{
    overflow: hidden;
}

.full-width-invisible-div{
    width:100%;
    text-align: center;
    padding-bottom: 2em;
}

.page-numbers{
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 1em;
}

.page-numbers p{
    text-decoration: underline;
}

.page-numbers p:hover{
    text-decoration: underline;
    color: var(--purple);
    cursor: pointer;
}

.back-to-recipes{
    text-decoration: none;
}

/* Calendar style */

.calendar-inner-container.page-inner-container{
    max-width: 1400px;
}

.calendar-page .multiple-recipe-cards{
    max-height: 160px;
}

.all-table{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1em;
    margin-top: 1em;
}

.table-part-of-weekdays{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:flex-start;
    flex-wrap: wrap;
    max-height: 850px;
    box-shadow: 3px 2px 10px var(--midpurple);
    background-color: var(--white);
}

.calendar-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 20%;
    max-width: 150px;
    min-width: 150px;
}

.first-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 150px;
    min-width: 100px;
    width: 20%;
}

.calendar-cell{
    width: 100%;
    height: 120px;
    border: 1px solid var(--black);
}

.calendar-first-row-cell{
    width: 100%;
    padding: 1em 0;
    height: 50px;
    text-align: center;
}

.week-day-ul{
    width: 100%;
}

.wrapped, .not-displayed{
    display: none;
}

.add-item-to-calendar {
    width: 100%;
    height: 33.3%;
    font-size: 1.5em;
    text-align: center;
    background-color: var(--midpurple);
    border: none;
    color: var(--white);
}

.active-calendar-field, 
.search-filter-calendar-container.filter-item:hover{
    background-color: var(--warmbrorange);
}

.add-item-to-calendar.activated-add-button, 
.filter-item:hover, 
.first-column .courstype-btn:hover{
    background-color: var(--orange);
}

.week-day-ul .calendar-cell li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 0.2em;
    margin-top: 0;
    height: 33.3%;
    border-bottom: 1px solid var(--grey);
}

.week-day-ul .calendar-cell li:hover{
    background-color: var(--brgrey);
    box-shadow: 2px 2px 5px var(--midpurple);
}

.calendar-cell li a{
    text-decoration: none;
    align-self: center;
    padding: 0.5em;
    color: var(--black);
    width: 100%;
}

.filters{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.8em;
    margin-top: 0.5em;
}

.filter-item{
    font-family: var(--text);
    background-color:var(--warmbrorange);
    padding: 0.15em 0.8em;
    border-radius: 10px;
    box-shadow: 2px 2px 3px var(--orange);
    border: none;
    text-transform: lowercase;
}

.first-column .courstype-btn{
    background-color: var(--warmbrorange);
    border: none;
    border-bottom: 3px solid var(--brgrey);
    width: 100%;
    height: 120px;
    padding: 0.5em;
}

.recipes-representation-outer-container{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    box-shadow: 3px 2px 10px var(--midpurple);
}

.recipes-representation-bar{
    max-width: 1000px;
}


.next-recipe-btn{
    padding: 0.5em;
    margin: 1em;
}

.save-calendar-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 2em;
    padding: 2em;
}

.calendar-name-label-and-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 800px;
    flex-basis: 60%;
}

.calendar-name-label-and-input label{
    padding: 0.5em 0.2em;
}

.calendar-name-label-and-input input{
    width: 100%;
    border-radius: 10px;
    box-shadow: var(--purpleboxshadow);
    border: none;
    line-height: 1.5em;
    padding: 0.4em 0.5em;
    font-size: 1em;
}

.button-thin.cleanCurrentCalendar{
    background-color: var(--hotpink);
    flex-basis: 33%;
}

.my-previous-calendars-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em 0;
    text-align: center;
}

.saved-calendar-button{
    font-family: var(--text);
    border: none;
    padding: 0.5em 1em;
    box-shadow: 2px 2px 5px var(--purple);
    border-radius: 10px;
}

.my-calendars-list{
    margin: 1.5em auto;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.my-calendars-list li{
    box-shadow: var(--purpleboxshadow);
    padding: 1rem 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.my-calendars-list p{
    margin-right: auto;
    width: 60%;
    text-align: left;
}

.recipe-search-input-calendar{
    border: none;
    background-color: var(--warmbrorange);
}

.todays-day-in-calendar{
    box-shadow: 0px 0px 15px var(--black);
}
.todays-day-in-calendar-title{
    background-color: var(--purple);
    color:white;
}

@media (max-width: 700px){
    .save-calendar-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .calendar-name-label-and-input, .save-calendar{
        width: 90%;
    }
}
@media (max-width: 430px){
    .calendar-column{
        width: 80%;
        min-width: 220px;
    }
    .my-calendars-list li{
    flex-wrap: wrap    
    }
    .my-calendars-list p{
        flex-basis: 100%;
        text-align: center;
    }
    .my-calendars-list button{
        flex-basis: 40%;
    }
}
@media (max-width: 325px){
    .calendar-column{
        width: 80%;
        min-width: 170px;
    }
}

/* search page */
.search-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
    margin-bottom: 2em;
}

.search-container input{
    width: 40%;
    max-width: 300px;
    line-height: 2em;
    background-color: var(--white);
    border: none;
    box-shadow: var(--purpleboxshadow);
    padding: 0.5em;
}

/* groceries */

.groceries-page-inner-container{
    max-width: 700px;
    text-align: center;
}

.groceries-page-inner-container h3{
    text-align: left;
}

.shopping-time-form{
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    gap: 1em;
}

.shopping-time-form div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 280px;
}

.shopping-time-form select{
    background-color: var(--white);
    border: none;
    box-shadow: var(--purpleboxshadow);
    padding: 0.5em;
}

.shopping-time-form.invisible, 
.recipes-confirmation-container.invisible, 
.invisible{
    display:none;
}

.recipes-confirmation-form{
    padding: 1em;
    box-shadow: 3px 2px 10px var(--midpurple);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.recipes-confirmation-form button{
    max-width: 400px;
    margin: 1em auto;
}

.one-day-recipes{
    margin: 1em;
}

.daymeal-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0 1em 1em;
    box-shadow: var(--purpleboxshadow);
    background-color: var(--brgrey);
}

.recipe-items-list-container{
    width:70%;
    max-width: 300px;
}

.recipe-item-in-groceries{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
}

.recipe-item-in-groceries h5{
    margin:0;
}

.recipeName-label{
    margin-right: auto;
}

.first-weekday-and-portions-display{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.first-weekday-and-portions-display p{
    padding-right: 2em; 
}

.portions-of-recipe, .default-portions-for-all{
    max-width: 50px;
    background-color: var(--white);
    border: none;
    box-shadow: var(--purpleboxshadow);
    padding: 0.5em;
    margin: 0.2em 1em;
}

.default-portions-for-all{
    margin-right:2em;
}

.groceries-item-in-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
    padding: 0.2em;
}

.groceries-item-in-list p{
    padding: 0;
    margin:0;
}

.new-list{
    margin: 2em auto;
    text-align: center;
}
p.product-name-groceries{
    margin-right: auto;
}

.line-through {
    text-decoration: line-through;

}
@media (max-width: 500px){
    .daymeal-container{
        flex-direction: column;
        padding:0;
    }
    .recipe-items-list-container{
        width:100%;
        max-width: none;
        padding-left: 1em;
    }
}

@media (max-width: 370px){
    .recipe-item-in-groceries h5{
        text-transform: capitalize;
        font-weight: 300;
    }
    .portions-of-recipe{
        margin: 0.2em 0.5em;
        max-width: 30px;
    }
    .first-weekday-and-portions-display{
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .first-weekday-and-portions-display div{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

}

/* profile page */

.profile-inner-container{
    max-width: 600px;
}

.profile-page h2{
    text-align: center;
}

.profile-page h3{
margin-top: 1.5em;
}

.profile-page li{
    list-style:inside;
}

.add-family-container input{
    background-color: var(--white);
    border: none;
    box-shadow: var(--purpleboxshadow);
    padding: 0.5em;
    margin-right: 1em;
}
   
.add-family-container button{
    margin-bottom: 1.5em;
}

.spacer{
    height: 2em;
    width: 100%;
}