{% extends "base.html" %}

{% block content%}
<section class="block-content">
    <h1>Prisijungimas</h1>
    <section class="inner-block">
        <form class="login-form reg-form" method="POST">
            <div class="outer">
                <div class="inner">
                    <label for="login-email" >El. paštas:</label>
                    <input type="email" id="login-email" name="login-email" required/>
                </div> 
                <div class="inner">

                    <label for="login-password">Slaptažodis:</label>
                    <input type="password" id="login-password" name="login-password" required />
                </div>
                
            </div>
            <div class="button-highlight">
                <button class="button" type="submit">Prisijungti</button>
            </div>        
        </form>
    </section>

</section>
{% endblock %}