{% extends "base.html" %}

{% block content%}
<section class="block-content">
    <section class="inner-block">
        <h1 class="bold-uppercase-normal">Prisijungimas</h1>
        <form class="login-form reg-form" method="POST">
            <div class="outer">
                <div class="inner">
                    <label for="login-email" >El. paštas:</label>
                    <input class="simple-text" type="email" id="login-email" name="login-email" required placeholder="El. paštas"/>
                </div> 
                <div class="inner">

                    <label for="login-password">Slaptažodis:</label>
                    <input class="simple-text" type="password" id="login-password" name="login-password" required placeholder="Slaptažodis"/>
                </div>
                
            </div>
            <button class="button" type="submit">Prisijungti</button>            
            <a href="/forgotten-pass" class="forgotten-pass simple-text-small">Pamiršau slaptažodį</a>

        </form>
    </section>

</section>
{% endblock %}

{% block register %}
            <li><a href="register">Registruotis</a></li>
            <li><a href="login">Prisijungti</a></li>
{% endblock %}