{% extends "base.html" %}

{% block content%}
<section class="block-content">
    <section class="inner-block">
    <h1 class="bold-uppercase-normal">Registracija</h1>
    <form class="signup-form reg-form" method="POST">
        <div class="outer">
            <div class="inner">
                <label for="signup-email">El. paštas:</label>
                <input class="simple-text" type="email" id="signup-email" name="signup-email"  placeholder="El. paštas"/>
            </div>
            <div class="inner">
                <label>Vardas:</label>
                <input class="simple-text" type="text" id="signup-name" name="signup-name"  placeholder="Vardas"/>
            </div>
            <div class="inner">
                <label for="signup-password1">Slaptažodis:</label>
                <input class="simple-text" type="password" id="signup-password1" name="signup-password1"  placeholder="Slaptažodis" />
            </div>
            <div class="inner">
                <label for="signup-password2">Pakartoti slaptažodį:</label>
                <input  class="simple-text" type="password" id="signup-password2" name="signup-password2"  placeholder="Pakartokite slaptažodį"/>
            </div>
        </div>
        <input  type="text" name="role_name"  value="{{ role_name }}" class="invisible"/>
        <input  type="number" name="chef_id"  value="{{ chef_id }}" class="invisible"/>
        <button class="button" type="submit">Registruotis</button>
    </form>

    </section>

</section>
{% endblock %}

{% block register %}
            <li><a href="register">Registruotis</a></li>
            <li><a href="login">Prisijungti</a></li>
{% endblock %}