<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Savaitės Meniu</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,400;1,700&family=Comforter+Brush&display=swap" rel="stylesheet">
    <link href="../static/index-style.css" rel="stylesheet" />

</head>
<body>
    <nav class="bold-uppercase-normal">
        <ul class="nav-ul">
            <li class="nav-li title curly-title-like">
                <a href="/">
                    Savaitės Meniu
                </a>            
                <a href="javascript:void(0);" class="icon menu-icon nav-li" onclick="mobileNavTransformation()">
                    <i class="fa-solid fa-bars"></i>
                </a>
            </li>
            <li class="nav-li home web-mob {% block navhome %} {% endblock %}">
                <a href="/">
                    <i class="fa-solid fa-house"></i>
                </a>
            </li>
            <li class="nav-li recipes web-mob {% block navrecipes %} {% endblock %}" ><a href="recipes">Receptai</a></li>
            <li class="nav-li week-plan web-mob {% block navcalendar %} {% endblock %}"><a href="calendar">Planas</a></li>
            <li class="nav-li shop-list web-mob {% block navgroceries %} {% endblock %}"><a href="groc_list">Prekių sąrašas</a></li>
            <li class="nav-li search web-mob {% block navsearch %} {% endblock %}"><a href="search"><i class="fa-solid fa-magnifying-glass icon"></i></a></li>
        </ul>
    </nav>
    <div class="divider"></div>

    {% with messages= get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                <p class= "flash-message {{category}} simple-text">{{message}}</p>
                {% endif %}
                {% if category == 'success' %}
                <p class= "flash-message {{category}} simple-text">{{message}}</p>
                {% endif %}
            {% endfor%}
        {% endif %}
    {% endwith%}
    
    {% block content %}

    {% endblock %}


    <div class="divider"></div>

    <footer>

        <div class="footer-nav">
            <h2 class="text-unimportant-title">Savaitės Meniu</h2>
            <ul class="simple-text-small">
                <li><a href="/">Pagrindinis</a></li>
                <li><a href="recipes">Receptai</a></li>
                <li><a href="calendar">Maisto planas</a></li>
                <li><a href="groc_list">Prekių sąrašas</a></li>
                {% block register %}
                {% endblock %}
            </ul>
        </div>

        <div class="divider mobile-visible"></div>

        <div class="message-me">
            <section class="contact-me form-style">
                <h2 class="curly-title-like">Parašyk!</h2>
                <div class="decoration-line"></div>
                <form class="bold-uppercase-small" action="/send-email" method="POST">
                    <label for="#message-theme" >Tema</label>
                    <input type="text" id="message-theme" name="message-subject" required>
                    <label for="#message-email" >El. paštas</label>
                    <input type="email" id="message-email" name="message-email" required>
                    <label for="#message-text">Žinutė</label>
                    <textarea id="message-text" name="message-text" required></textarea>
                    <button class="button" type="submit">Siųsti</button>
                </form>
            </section>
        </div>

        <div class="copyrights">
            <small>
                Sukurta lengvesniam gyvenimui
            </small>
            <small>        
                &#169<span id="date"></span> &middot&middot&middot Savaitės Meniu &middot&middot&middot Augustė Jan
            </small>
        </div>
    </footer>
    <script src="../static/index-script.js"></script>
    <script src="https://kit.fontawesome.com/4d9826a017.js" crossorigin="anonymous"></script>
    {% block js %}
    {% endblock %}
</body>
</html>
